@import url(../style.css);
body {
    margin: 0;
}
.Container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.Board {
    display: flex;
    flex-direction: row;
}


.Header {
    display: flex;
    flex-direction: column;
}
#Logo_ctt {
    height: 80px;
    width: 100%;
    background-image: url(/assets/img/logo-cttdt.png);
    background-size: contain;
    background-repeat: no-repeat;
    border-top: 8px solid red;
    background-position-x: 80px;
    background-position-y: 2px;
}
#Logo_ctt:hover {
    cursor: pointer;
}
.Border-Gradient {
    height: 8px;
    background: linear-gradient(to top, red, white);
}
#btnDashboard {
    width: fit-content;
    height: 20px;
    margin-top: 5px;
    background-color: #dddddd;
    border: none;
    color: red;
    border-left: 2px solid red;
}
#btnDashboard:hover {
    text-decoration: underline;
    cursor: pointer;
}

.Header_List {
    display: flex;
}

.Menu {
    width: 285px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.Menu_Board {
    background-color: #dddddd;
    padding: 10px 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
}
.Avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    gap: 10px;
}
.Avatar_img {
    width: 30px;
    height: 30px;
    background-image: url(/assets/img/avt.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    border-radius: 50%;
}
#messNum {
    width: 15px;
    background-color: red;
    color: #ffffff;
    border-radius: 50%;
}

.Content {
    width: calc(100vw - 285px);
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    gap: 10px;
}
.Content-Tittle {
    height: 50px;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #dddddd;
}
.Content_Board {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.Student-Tittle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    border-bottom:8px solid orange;
}
.Student_Board {
    display: flex;
    gap: 20px;
}
.Student_img {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.Img {
    width: 120px;
    height: 160px;
    /* background-image: url(/assets/img/avt.jpg); */
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 10px 10px 5px lightslategray;
}
.Student_Info {
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.Info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.Info-Unit_icon {
    width: 20px;
    height: 20px;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*
Buttons
*/

#btnEdit {
    background-color: #ffffff;
    border: none;
    color: red;
}
#btnEdit:hover {
    color: black;
    cursor: pointer;
}
#btnEdit:active {
    color: red;
}

#btnConfirm, #btnReset, #btnCancel {
    font-size: 30px;
    border: none;
    background-color: white;
    cursor: pointer;
}
#btnConfirm {
    color: green;
}
#btnConfirm:hover {
    color: rgb(1, 216, 1);
}

#btnReset {
    color: yellow;
}
#btnReset:hover {
    color: orange;
}

#btnCancel {
    color: red;
}
#btnCancel:hover {
    color: rgb(212, 0, 0);
}

.Button-delete {
    background-color: white;
    border:none;
    font-size: 15px;
}
.Button-delete:hover {
    color: rgb(212, 0, 0);
}
.Button-delete:active {
    color: red;
}
.Button-delete_Group {
    background-color: #ffffff;
    border: solid red 2px;
    border-radius: 4px;
    font-size: 16px;
    color: black;
}
.Button-delete_Group:hover {
    color: rgb(212, 0, 0);
}
.Button-delete_Group:active {
    color: red;
}

.Footer_img {
    width: 100%;
    height: 110px;
    background-image: url(/assets/img/footer.jpg);
    background-position: center;
    background-repeat: no-repeat;
}
.Footer {
    position: relative;
}
.Footer_Content {
    position:absolute;
    bottom: 12px;
    right: 100px;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: left;
    gap: 0;
}

.Info_Tittle {
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
    width: 200px;
}
